.UnitDetails {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
  .MuiButton-containedPrimary {
    max-width: 120px;
    margin: 15px;
    &:hover {
      background-color: #b40054;
    }
  }
  .MuiPaper-root {
    margin: auto;
    max-width: 700px;
    margin-bottom: 50px;
    & > .MuiTable-root {
      margin: auto;
      max-width: 700px;
      // Table Head
      //

      tr:hover {
        background: rgb(214, 214, 214);
        cursor: default;
      }
    }

    // Table Body
    //
    .MuiTableBody-root {
      #description-row {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        border-bottom: 1px solid rgba(224, 224, 224, 1);
        #description-t {
          align-self: center;
          border: none;
        }
        #description-d {
          align-self: center;
          flex: 10;
          border: none;
        }
      }
      .MuiTableRow-root {
        display: flex;
        align-items: center;
        height: 100%;

        .MuiTableCell-root {
          align-items: center;
          min-height: 20px;
        }
        th {
          flex: 1;
          border-right: 1px solid rgb(224, 224, 224);
          text-align: center;
          min-width: 25px;
        }
        td {
          text-align: center;
          flex: 10;
          min-height: 360px;
        }
        td:nth-child(4) {
          flex: 15;
        }
      }
    }
  }
}
