.Home {
  display: flex;
  flex: 1;
  max-height: calc(100vh - 228px);
  overflow: hidden;
  .MuiContainer-root {
    margin: auto;
    width: 60%;
    @media screen and (max-width: 1280px) {
      width: 70%;
    }
    @media screen and (max-width: 1024px) {
      width: 80%;
    }
    @media screen and (max-width: 768px) {
      width: 90%;
    }
    @media screen and (max-width: 480px) {
      width: 100%;
    }
  }
}
