//
// Cost Selectors
//

.costSelectors {
  max-width: 700px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  flex: 1;
  @media screen and (max-width: 1024px) {
    margin: 0 3%;
  }
  .costSelectorWrapper {
    min-width: 700px;
    display: flex;
    align-items: center;
    padding: 20px 0;
    @media screen and (max-width: 1024px) {
      min-width: 90vw;
      margin: 0 auto;
    }
    .MuiTypography-root {
      margin: auto;
      @media screen and (max-width: 480px) {
        width: 150%;
        max-width: 15%;
        margin: 0 3%;
        word-spacing: 10px;
        word-break: break-word;
        text-align: start;
      }
    }
    .MuiSlider-root {
      max-width: 50%;
      margin-right: 10%;
      @media screen and (max-width: 480px) {
        max-width: 50vw;
      }
      .MuiSlider-rail {
        height: 4px;
      }
      .MuiSlider-track {
        height: 4px;
      }
      .MuiSlider-thumb {
        width: 14px;
        height: 14px;
        margin-left: -4px;
      }
      .MuiSlider-thumb {
        .PrivateValueLabel-circle-8 {
          width: 34px;
          height: 34px;
        }
      }
      .Mui-disabled {
        margin-top: -5px;
      }
    }
  }
}
